{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                sad
            </div>
        </div>

    </div>
{% endblock %}
