{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center; padding: 25px;">
        <img src="{{ asset('img/401.png') }}" alt="401 Unauthorized Access">
        <p><h3>Unauthorized Access</h3></p>
    </div>
{% endblock %}