{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center; padding-top: 30px;">
        <img src="{{ asset('img/500.png') }}" alt="Error" height="300px;">
        <p><h1>{{ code }} Error</h1></p>
        <p><h1>{{ msg }} Message</h1></p>
    </div>
{% endblock %}