<div class="section-row">
    <div class="section-title">
        <h3 class="title">Leave a comment</h3>
    </div>
    {% if(app.user) %}
        {{ form_start(form, {action: path('comment_add', {'slug': post.slug})}) }}
            <div class="row">
                {{ form_errors(form) }}
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_widget(form.content, {attr: {rows: 10, class: 'input'}}) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="primary-button">Comment</button>
                </div>
            </div>
        {{ form_end(form) }}
    {% else %}
        Login or Register for posting comment to blog
    {% endif %}
</div>