{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                {% block sidebar %}
                    <div class="col-md-4">

                        <!-- category widget -->
                        <div class="aside-widget">
                            <div class="section-title">
                                <h2 class="title">Navigations</h2>
                            </div>
                            <div class="category-widget">
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_blog_new') }}">Post A Blog</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('dashboard') }}">My Blog Post</a>
                                    </li>
                                    <li>
                                        <a href="">Posts I Commented On</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /category widget -->
                    </div>
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}