{% extends 'base.html.twig' %}

{% block body %}
    {% block sidebar %}
        <div class="col-md-3">
            <div class="card" style="box-shadow: 0px 0px 2px #aaaaaa;">
                <div class="card-body">
                    <ul>
                        <li>
                            Post A Blog
                        </li>
                        <li>
                            My Blog Post
                        </li>
                        <li>
                            Posts I Commented On
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}