{% extends 'base.html.twig' %}

{% block body %}
     {% block sidebar %}
          <div class="col-md-3">
               <div class="card">
                    <div class="card-body">
                         <h4 style="margin-left: 15px;">Category</h4>
                         <ul>
                              <li>
                                   Category
                              </li>
                              <li>
                                   Category
                              </li>
                              <li>
                                   Category
                              </li>
                              <li>
                                   Category
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     {% endblock %}
     {% block content %}
     {% endblock %}
{% endblock %}