{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'btn_label': 'Update'}) }}
{% endblock %}
