{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add Products</h1>

    {{ include('product/_form.html.twig') }}

{% endblock %}
